@import "../shared/variables";
@import "../shared/mixin/px-to-rem";

.header {
  padding: rem(60, 0, 58);
  border-bottom: 2px solid rgba($contrast, .2);
  transition: background-color .15s ease-in-out;

  @media screen and (max-width: 1199px){
    padding-top: rem(30);
    padding-bottom: rem(30);
  }

  @media screen and (max-width: 767px){
    padding-top: rem(20);
    padding-bottom: rem(20);
  }

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 1;
    transition: transform .3s ease-out .7s;
    background-color: $secondary;
    transform: translateY(-100%);
  }

  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    & + .main {
      padding-top: rem(145);

      @media screen and (max-width: 1199px){
        padding-top: rem(100);
      }
    }

    &.sticky {
      background-color: $light;
    }
  }

  &__container {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(0, 15);
    max-width: 1650px;
    margin: 0 auto;
  }

  &__time {
    font-family: $font-gilroy-500;
    font-weight: 500;
    font-size: rem(18);
    line-height: 167%;
    color: $contrast;

    time {
      padding: rem(2.5, 5);
      background-color: $contrast;
      border-radius: 2px;
      color: $secondary;
      font-size: rem(14);
      line-height: 30px;
    }

    @media screen and (max-width: 991px){

      display: none;
    }
  }

  &__btn {
    display: none;

    @media screen and (max-width: 991px){
      display: block;
    }
  }
}

.logo {
  display: inline-flex;
  align-items: center;

  &__text {
    margin-left: rem(14);
    color: $contrast;
    font-family: $font-gilroy-heavy;
    font-size: rem(18);
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: .15em;

    .text-invert & {
      color: $light;
    }

    .sticky & {
      color: $secondary;
    }

    @media screen and (max-width: 767px) {
      margin-left: rem(10);
    }
  }
}
