@import "../shared/variables";
@import "../shared/mixin/px-to-rem";

.menu-drop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 9999;
  background-color: $contrast;
  transform: translateY(-100%);
  transition: transform .5s ease-in-out;

  @media screen and (orientation: landscape) {
    padding: rem(40);
  }

  @media screen and (orientation: portrait) {
    padding: rem(80, 40);
  }

  @media screen and (max-width: 991px){
    display: flex;
    flex-direction: column;
  }

  .is-menu-open & {
    transform: translateY(0);
  }
}
