@import "../../shared/variables";
@import "../../shared/mixin/px-to-rem";

.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: rem(5);
	height: rem(48);
	white-space: nowrap;
	padding: 0 rem(20);
	min-width: 200px;
	color: $contrast;
	font-family: $font-gilroy-900;
	font-size: rem(18);
	font-weight: 400;
	line-height: 1;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: rem(3.6);
	transition: opacity .15s ease-in-out;
	
	@media screen and (max-width: 1366px){
		height: rem(40);
		padding: 0 rem(15);
		font-size: rem(16);
	}
	
	&-primary {
		background-color: $primary;
	}

	&-xl {
		min-width: 420px;
		height: rem(80);

		@media screen and (max-width: 991px){
			min-width: 300px;
			height: rem(60);
		}

		@media screen and (max-width: 767px){
			min-width: 200px;
			height: rem(40);
		}
	}

	&:hover {
		opacity: .85;
	}
}

.link {
	display: inline-flex;
	align-items: center;
	color: $primary;
	font-family: $font-gilroy-500;
	font-size: rem(11);
	font-weight: 500;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: rem(2.2);
	//white-space: nowrap;

	svg {
		transform: rotate(180deg);
		margin-left: rem(19);

		use {
			fill: $primary
		}
	}
}

.btn-menu {
	width: rem(40);
	line-height: 1;
	cursor: pointer;

	span {
		display: block;
		height: rem(3);
		border-radius: rem(2);
		background-color: $contrast;

		& + span {
			margin-top: rem(7);
		}
	}
}

.btn-menu-close {
	position: absolute;
	top: rem(20);
	right: rem(20);

	svg {

		path {
			fill: $secondary;

			.text-invert & {
				fill: $light;
			}
		}

	}

}
