<header class="header header--fixed">

    <div class="header__container">
        <a href="/" class="header__logo logo wowHeader slideInDownFadeIn" data-wow-delay="0s">
            <img src="img/general/logo.png" alt="logo">
            <span class="logo__text">vyadd</span>
        </a>
        <!-- /.logo -->

        <div class="header__time time">
            Updated at <time>00:00:00</time> , UTC+0 time zone
        </div>
        <!-- /.header__time -->

        <div class="header__btn">
            <button class="btn-menu" id="btnMenu">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <!-- /.header__btn -->

    </div>
    <!-- /.header__container -->

</header>
<!-- /.header -->
