<div class="menu-drop">
    <button type="button" class="btn-menu-close" id="btnMenuClose">
        <svg width="20" height="20">
            <use xlink:href="#close"></use>
        </svg>
    </button>

    <div class="time">
        Updated at <time>00:00:00</time> , UTC+0 time zone
    </div>
    <!-- /.time -->
</div>
<!-- /.menu-drop -->
