@import "shared/variables";
@import "shared/mixin/px-to-rem";

body {
  font-size: rem(15);
  font-family: $font-gilroy-400;
  line-height: 2.3333;
  color: $secondary;
}

figure {
  margin: 0;
}

br {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

h1 {
  margin: 0;
}

.border-bottom-none {
  border-bottom: none !important;
}

.text-primary {
  color: $primary !important;
}

.bg-light {
  background-color: $light;
}

.bg-secondary {
  background-color: $secondary;
}

.bg-secondary-light {
  background-color: $third;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .main {
    flex-grow: 1;
  }

}

.main {
  position: relative;
  overflow: hidden;

  &--bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70% 100%;
  }
}

.container {
  max-width: 1600px;
  margin: auto;
}

.wrap-title {
  display: flex;
  align-items: center;
  margin-bottom: rem(70);

  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
  }

  .title {
    margin-right: rem(10);

    @media screen and (max-width: 1199px) {
      margin-right: rem(5);
    }
  }
}

.title {
  font-family: $font-gilroy-600;
  font-weight: 600;
  font-size: rem(48);
  line-height: 1.2;
  letter-spacing: 2px;
  color: $contrast;

  @media screen and (max-width: 1199px) {
    font-size: rem(36);
  }

  @media screen and (max-width: 767px){
    font-size: rem(24);
  }
}

.nice-select {
  max-width: 50%;
  height: auto;
  padding: rem(17, 55, 17, 15);
  text-transform: lowercase;
  font-family: $font-gilroy-600;
  font-weight: 600;
  font-size: rem(48);
  line-height: 1;
  letter-spacing: 2px;
  background-color: transparent;
  border: 3px solid $primary;
  color: $contrast;

  @media screen and (max-width: 1199px) {
    font-size: rem(36);
    padding-top: rem(10);
    padding-bottom: rem(10);
    max-width: 100%;
  }

  @media screen and (max-width: 767px){
    font-size: rem(24);
  }

  //&.is-changed {
  //  border-color: transparent !important;
  //  pointer-events: none;
  //  padding-right: 0;
  //
  //  &::after {
  //    display: none;
  //  }
  //}

  &::after {
    right: rem(20);
    border-width: rem(4);
    margin-top: rem(-12);
    width: rem(24);
    height: rem(24);
    border-color: $contrast;

    @media screen and (max-width: 767px){
      margin-top: rem(-6);
      width: rem(12);
      height: rem(12);
    }
  }

  &.open {
    border-color: transparent;
  }

  .current {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 1.2;
  }

  .list {
    background: rgba(237, 239, 242, 0.9);
    border-radius: 1px;
    padding-top: rem(15);
    padding-bottom: rem(15);
    max-height: 40vh;
    overflow-y: auto;
    overflow-x: hidden;

    @media screen and (max-width: 767px){
      max-height: 140px;
      overflow-x: hidden;
      overflow-y: auto !important;
    }

    .option {
      text-transform: uppercase;
      min-height: initial;
      font-weight: 600;
      font-size: rem(18);
      line-height: 167%;
      letter-spacing: rem(2);
      color: $secondary;
      padding-left: rem(22);
      padding-right: rem(22);

      @media screen and (max-width: 767px){
        font-size: rem(14);
        padding-left: rem(15);
        padding-right: rem(15);
      }
    }
  }
}
